/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #e1d4c9;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  color: var(--text-dark, #403f3d);
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #403f3d;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 10px;
  font-weight: 400;
}
/*----------------*/
body {
  background: #e1d4c9;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.menu > * {
  display: flex;
  align-items: center;
  gap: 8px;
}
